<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j170502.cateringmange.dao.KeepTimeMapper">
  <resultMap id="BaseResultMap" type="com.j170502.cateringmange.entity.KeepTime">
    <id column="keeptime_id" jdbcType="INTEGER" property="keeptimeId" />
    <result column="keep_time" jdbcType="VARCHAR" property="keepTime" />
  </resultMap>
  <sql id="Base_Column_List">
    keeptime_id, keep_time
  </sql>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from keeptime
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from keeptime
    where keeptime_id = #{keeptimeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from keeptime
    where keeptime_id = #{keeptimeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.j170502.cateringmange.entity.KeepTime">
    insert into keeptime (keeptime_id, keep_time)
    values (#{keeptimeId,jdbcType=INTEGER}, #{keepTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.j170502.cateringmange.entity.KeepTime">
    insert into keeptime
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="keeptimeId != null">
        keeptime_id,
      </if>
      <if test="keepTime != null">
        keep_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="keeptimeId != null">
        #{keeptimeId,jdbcType=INTEGER},
      </if>
      <if test="keepTime != null">
        #{keepTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.j170502.cateringmange.entity.KeepTime">
    update keeptime
    <set>
      <if test="keepTime != null">
        keep_time = #{keepTime,jdbcType=VARCHAR},
      </if>
    </set>
    where keeptime_id = #{keeptimeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.j170502.cateringmange.entity.KeepTime">
    update keeptime
    set keep_time = #{keepTime,jdbcType=VARCHAR}
    where keeptime_id = #{keeptimeId,jdbcType=INTEGER}
  </update>
</mapper>